body{
    background-color: aqua;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;

    
   
}
.frame{
    background-color: rgba(0, 0, 0, 0.582);
    width: 250px;
    height:250px;
    margin:auto;
    border-color: aquamarine;
    border-radius: 10px;
    background: linear-gradient(rgb(216, 228, 224) 150px,blue 20px);
    
   

    
    
}
#square{
    font-variant: small-caps;
    
    letter-spacing: 3px;
    font-weight: bolder;
    text-align: center;
    text-indent: 1px;
    text-decoration: underline;
    text-shadow: 1px 2px 2px saddlebrown;
}
#input{
    width:120px;
    font-size: 17px;
    font-stretch: ultra-condensed;
    border-radius: 4px;
    border-color: blue;
    background-color: rgba(201, 31, 31, 0.26);
    box-shadow: 2px 2px 1px blue;
    padding:2px;
    letter-spacing: 2px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-stretch: extra-condensed;
    font-weight: bolder;
    margin-left:35px
}
#button{
    width:50px;
    max-height: 20px;
    margin-top: -10px;
    margin-left:38px;
    background-color: bisque;
    border-style: dotted;
    letter-spacing: 2px;
    text-align: center;
    text-transform: capitalize;
    font-weight: bolder;
}
#result{
    padding-left:80px;
    padding-top:10px;
    font-weight: bolder;
    font-size: larger;

}
